name: Telegram Collector

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  run-collector:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run collector
        env:
          TG_API_ID: ${{ secrets.TELEGRAM_API_ID }}
          TG_API_HASH: ${{ secrets.TELEGRAM_API_HASH }}
          POST_KEY: ${{ secrets.POST_KEY }}
          INGEST_URL: ${{ secrets.INGEST_URL }}
          WORKER_INGEST: ${{ secrets.INGEST_URL }}

        run: |
          python collector.py
