name: Telegram Collector

on:
  workflow_dispatch:
  schedule:
    - cron: "*/15 * * * *"

jobs:
  run-collector:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run collector
        env:
          TG_API_ID: ${{ secrets.TELEGRAM_API_ID }}
          TG_API_HASH: ${{ secrets.TELEGRAM_API_HASH }}
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          POST_KEY: ${{ secrets.POST_KEY }}
          INGEST_URL: ${{ secrets.INGEST_URL }}
          # опційно:
          # CHANNELS: "atb_market_official,silpo_online"
          RUN_LIMIT: "10"
          TIMEOUT_SEC: "60"
        run: |
          python collector.py
